<%- include('header') %>

<form  method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-body">
            <div class="card-title">เพิ่มรายการสินค้า</div>
            <div class="mt-2">
                <label>ประเภทสินค้า</label>
                <select name="group_product_id" class="form-control">
                    <% groupProducts.forEach((groupProducts) => { %>
                    <option value="<%= groupProducts.id %>" 
                        <% if (products.group_product_id == groupProducts.id) { %>
                            selected
                        <% } %>
                        >
                        <%= groupProducts.name %>
                    </option>
                    <% }) %>
                </select>
            </div>
            <div class="mt-2">
                <label>Barcode</label>
                <input type="text" name="barcode" class="form-control" value="<%= products.barcode %>">
            </div>
            <div class="mt-2">
                <label>ชื่อสินค้า</label>
                <input type="text" name="name" class="form-control" value="<%= products.name %>">
            </div>
            <div class="mt-2">
                <label>ราคาทุน</label>
                <input type="text" name="cost" class="form-control" value="<%= products.cost %>">
            </div>
            <div class="mt-2">
                <label>ราคาจำหน่าย</label>
                <input type="text" name="price" class="form-control" value="<%= products.price %>">
            </div>
            <div class="mt-2">
                <label>รูปภาพ</label>
                <% if (products.image != undefined) { %>
                <div class="mb-2 mt-1"><img src="../images/<%= products.image %>" width="200px" ></div>
                <% } %>
                <input type="file" name="image" class="form-control" value="<%= products.image %>" >
            </div>

            <div class="mt-2">
                <button type="submit" class="btn btn-info">
                    SAVE
                </button>
            </div>
        </div>
    </div>
</form>
<%- include('footer') %>