<%- include('header') %>


<div class="h4">รายการสั่งซื้อจากลูกค้า</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th width="420px" class="text-center">Status</th>
            <th width="80px">รหัสบิล</th>
            <th width="100px">ชื่อ</th>
            <th width="150px">เบอร์ติดต่อ</th>
            <th>ที่อยู่จัดส่ง</th>
            <th>วันที่ชำระเงิน</th>
            <th>วันที่จัดส่ง</th>
            <th>เลขติดตามพัสดุ</th>
        </tr>
    </thead>
    <tbody>
        <% orders.forEach((order) => { %>
            <tr>
                <td class="text-center">
                    <a href="/payOrder/<%= order.id %>" class="btn btn-info">
                        <span class="material-symbols-outlined material-icons">
                            attach_money
                        </span>                                
                        ชำระเงินแล้ว
                    </a>
                    <a href="/sendOrder/<%= order.id %>" class="btn btn-success">
                        <span class="material-symbols-outlined material-icons">
                            local_shipping
                        </span>
                        จัดส่งสินค้า
                    </a>
                    <a href="/deleteOrder/<%= order.id %>" class="btn btn-danger" onclick="return confirm('Are you sure?')">
                        <span class="material-symbols-outlined material-icons">
                            cancel
                        </span>
                        ยกเลิก
                    </a>
                </td>
                <td><a href="/orderInfo/<%= order.id %>" class="text-center"><%= order.id %></a></td>
                <td><%= order.name %></td>
                <td><%= order.phone %></td>
                <td><%= order.address %></td>
                <td><%= dayjs(order.pay_date).format(dayFormat) %></td>
                <td><%= dayjs(order.send_date).format(dayFormat) %></td>
                <td><%= order.track_code %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include('footer') %>
