<%- include('header') %>

<div class="card">
    <div class="card-body">
        <div class="card-title h3">สินค้า</div>
        <div class="mt-2">
            <a href="/addProduct" class="btn btn-info" >
                <span class="material-symbols-outlined material-icons">
                    library_add
                    </span>
                เพิ่มรายการสินค้า
            </a>
        </div>
        <div class="mt-2 ">
            <table class="table table-bordered table-striped mt-2">
                <thead>
                    <tr>
                        <th width="130px"></th>
                        <th>ภาพสินค้า</th>
                        <th>ประเภทสินค้า</th>
                        <th>บาโค้ด</th>
                        <th>รายการสินค้า</th>
                        <th class="text-end">ราคาทุน</th>
                        <th class="text-end">ราคาจำหน่าย</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach((products) => { %>
                        <tr>
                            <td class="text-center">
                                <a class="btn btn-info" href="/editProduct/<%= products.id %>">
                                    <span class="material-symbols-outlined material-icons">
                                        edit
                                    </span>   
                                </a>
                                <a class="btn btn-danger" href="/deleteProduct/<%= products.id %>" onclick="return confirm('Are you sure to Delete ?')">
                                    <span class="material-symbols-outlined material-icons">
                                        delete
                                    </span>
                                </a>
                            </td> 
                            <td><img src="images/<%= products.image %>" width="100px"></td>
                            <td><%= products.group_product_name %></td>
                            <td><%= products.barcode %></td>
                            <td><%= products.name %></td>
                            <td class="text-end"><%= products.cost %></td>
                            <td class="text-end"><%= products.price %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('footer') %>