<%- include('page_header') %>

<form method="post">
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title h3">ติดตามการสั่งซื้อ</div>
                <div class="input-group">
                    <div class="input-group-text">กรุณาใส่เบอร์โทร</div>
                    <input class="form-control" name="phone">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-info">ค้นหา
                            <span class="material-symbols-outlined material-icons">
                                search
                                </span>
                        </button>
                    </div>
                </div>
                <% if (orders.length > 0) { %>
                     <% orders.forEach(order => { %>
                        <div class="alert alert-info mt-3">
                            <div>ลูกค้า = <%= order.name %></div>
                            <div>รหัสติดตามพัสดุ = <%= order.track_code %></div>
                            <div>ขนส่ง = <%= order.track_name %></div>
                            <div>วันที่จัดส่ง = <%= dayjs(order.send_date).format(dayFormat) %></div>
                        </div>
                    <% }) %>
                <% } %> 
            </div>
        </div>
    </div>
</form>

<%- include('page_footer') %>