<%- include('header')  %>


<div class="card">
    <div class="card-body">
        <div class="card-title">
            <span class="material-symbols-outlined material-icons">
                person
                </span>
            ข้อมูลผู้ใช้งานระบบ
        </div>
        <a class="btn btn-info mt-2" href="/addUser">
            <span class="material-symbols-outlined material-icons">
                add
                </span>
            เพิ่มรายการ
        </a>
        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>
                    <th width="150px">
                        <span class="material-symbols-outlined material-icons ">
                            menu
                            </span>
                    </th>
                    <th>ชื่อ</th>
                    <th>username</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user) => { %>
                    <tr>
                        <td>
                            <a class="btn btn-info" href="/editUser/<%= user.id %>">
                                <span class="material-symbols-outlined material-icons">
                                    edit
                                    </span>   
                            </a>
                            <a class="btn btn-danger" href="/deleteUser/<%= user.id %>" onclick="return confirm('Are you sure to Delete ?')">
                                <span class="material-symbols-outlined material-icons">
                                    delete
                                    </span>
                            </a>
                        </td>
                        <td><%= user.name %></td>
                        <td><%= user.password %></td>
                        <td><%= user.level %></td>
                    </tr>

                    <% }); %>
            </tbody>
        </table>
    </div>
</div>


<%- include('footer')  %>
